<%- include('generalIncludes/navheadside')%>

<div class="table-wrapper">
    <table class="fl-table">
        <caption class="textao "> <strong>Selecione um usuário</strong>  </caption>
        <thead>
            <tr>
                <th> Nome </th>
                <th> Email </th>
                <th> Telefone </th>
                <th colspan="2"> Opções </th>
            </tr>
        </thead>
    
        <% leitores.data.forEach(leitor=> { %>
    
            <tbody>
                <tr>
                    <td>
                        <%= leitor.nome %>
                    </td>
                    <td>
                        <%= leitor.email %>
                    </td>
                    <td>
                        <%= leitor.telefone %>
                    </td>
                    <td><a href="/emprestimo/index/<%= leitor.id %>">Selecionar</a></td>
                </tr>
            </tbody>
    
            <% }); %>
    </table>
    </div>

<%- include('generalIncludes/footer')%>